@charset "UTF-8";
/* line 1, ../../_scss/global.scss */
* {
  font-size: inherit;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: normal;
  list-style-type: none; }

/* line 10, ../../_scss/global.scss */
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3' Meiryo, メイリオ, sans-serif;
  background-image: url(../../imageFile/background.jpg); }

/* line 18, ../../_scss/global.scss */
#sidemenu {
  width: 280px;
  height: 100%;
  position: absolute; }
/* line 22, ../../_scss/global.scss */
#sidemenu a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding: 15px;
  letter-spacing: 1px; }

/* line 33, ../../_scss/global.scss */
#logoDiv {
  display: block;
  text-align: center;
  width: 100%;
  position: relative;
  top: 250px; }
/* line 39, ../../_scss/global.scss */
#logoDiv div.text {
  width: 450px;
  margin: auto;
  color: #fff;
  line-height: 140%; }
